In [227]:
from fuzzywuzzy import fuzz

In [37]:
import pandas as pd
import numpy as np

<h2> Remedy for NaN industry code </h2>

In [266]:
df = pd.read_csv("metadata_reports_noduplicates_with_industry.csv")

In [143]:
df_industry_mapping = pd.read_csv("Ticker_ConpanyName_Industry.csv")
df_industry_mapping = df_industry_mapping.dropna(subset=['ggroup', "conm", "TICKER"]).reset_index(drop=True)

In [134]:
companies_ref = df_industry_mapping.conm.str.upper().str.strip().unique()

In [135]:
ticker_ref = df_industry_mapping.TICKER.str.upper().str.strip().unique()

In [136]:
no_industry_index = df['industry'].index[df['industry'].apply(np.isnan)].tolist()

In [137]:
df_no_industry = df.iloc[df['industry'].index[df['industry'].apply(np.isnan)],:]

In [228]:
def set_row(df, index, row_ref):
    df.iloc[i, -3] = int(row_ref["ggroup"])
    df.iloc[i, -4] = int(row_ref["gsector"])
    df.iloc[i, -5] = int(row_ref["PERMNO"])

In [243]:
fixed_index = []
not_fixed_index = []
for i in no_industry_index:
    row = df.iloc[i, :]
    company_name = str(row["Company Name"]).upper().strip()
    ticker = str(row["TICKER"]).strip()
    # hard coded roles
    if ticker == "BRKa":
        ticker = "BRK"
    if ticker == "HPE (1)":
        ticker = "HPE"
    if ticker == "BFb":
        ticker = "BF"
    if company_name in companies_ref:
        latest_year = df_industry_mapping[df_industry_mapping.conm == company_name]["year"].max()
        row_ref = df_industry_mapping[(df_industry_mapping.conm == company_name) & (df_industry_mapping.year == latest_year)].max()
        set_row(df, i, row_ref)
        fixed_index.append(i)
    elif ticker in ticker_ref:
        latest_year = df_industry_mapping[df_industry_mapping.TICKER == ticker]["year"].max()
        row_ref = df_industry_mapping[(df_industry_mapping.TICKER == ticker) & (df_industry_mapping.year == latest_year)].max()
        set_row(df, i, row_ref)
        fixed_index.append(i)
    else:
        ### approximate matching ###
        found = False
        for ref_company in companies_ref:
            if ref_company is np.nan:
                continue
            if fuzz.ratio(ref_company, company_name) > 90:
                print(ref_company+ " V.S " +company_name)
                latest_year = df_industry_mapping[df_industry_mapping.conm == ref_company]["year"].max()
                row_ref = df_industry_mapping[(df_industry_mapping.conm == ref_company) & (df_industry_mapping.year == latest_year)].max()
                set_row(df, i, row_ref)
                fixed_index.append(i)
                found = True
                break
        if not found:
            not_fixed_index.append(i)

WENDY'S CO V.S WENDYS CO
GRID DYNAMICS HOLDGS INC V.S GRID DYNAMICS HOLDINGS INC
GRID DYNAMICS HOLDGS INC V.S GRID DYNAMICS HOLDINGS INC
AUTOMATIC DATA PROCESSING V.S AUTOMATIC DATA PROCESSING INC
AUTOMATIC DATA PROCESSING V.S AUTOMATIC DATA PROCESSING INC
ATN INTERNATIONAL INC V.S MAGNA INTERNATIONAL INC
U S SILICA HOLDINGS INC V.S U.S. SILICA HOLDINGS INC
NATIONAL GENERAL HOLDINGS CP V.S NATIONAL GENERAL HOLDINGS CORP
ARENA PHARMACEUTICALS INC V.S AURINIA PHARMACEUTICALS INC
HERON THERAPEUTICS INC V.S HARPOON THERAPEUTICS INC
CALLON PETROLEUM CO/DE V.S CALLON PETROLEUM CO
C H ROBINSON WORLDWIDE INC V.S CH ROBINSON WORLDWIDE INC
CONSTELLATION BRANDS V.S CONSTELLATION BRANDS INC
NEXTIER OILFIELD SOLUTNS INC V.S NEXTIER OILFIELD SOLUTIONS INC
HELIX ENERGY SOLUTIONS GROUP V.S HELIX ENERGY SOLUTIONS GROUP INC
OCEANEERING INTERNATIONAL V.S OCEANEERING INTERNATIONAL INC
PARK HOTELS & RESORTS V.S PARK HOTELS & RESORTS INC
PARK HOTELS & RESORTS V.S PARK HOTELS & RESORTS INC
AFFILIATED MANAGERS GRP INC V.S AFFILIATED MANAGERS GROUP INC
AFFILIATED MANAGERS GRP INC V.S AFFILIATED MANAGERS GROUP INC
SENSEONICS HLDGS INC V.S SENSEONICS HOLDINGS INC
AQUESTIVE THERAPETC INC V.S AQUESTIVE THERAPEUTICS INC
BECTON DICKINSON & CO V.S BECTON DICKINSON AND CO
BECTON DICKINSON & CO V.S BECTON DICKINSON AND CO
IMPAX LABORATORIES INC V.S IMPAX LABORATORIES LLC
IMPAX LABORATORIES INC V.S IMPAX LABORATORIES LLC
IMPAX LABORATORIES INC V.S IMPAX LABORATORIES LLC
BRIGHTHOUSE FINANL INC V.S BRIGHTHOUSE FINANCIAL INC
NEW YORK CMNTY BANCORP INC V.S NEW YORK COMMUNITY BANCORP INC
LINCOLN ELECTRIC HLDGS INC V.S LINCOLN ELECTRIC HOLDINGS INC

In [244]:
len(fixed_index)

2770

In [245]:
len(not_fixed_index)

9082

In [246]:
df.iloc[not_fixed_index].TICKER.unique()

array(['ACN', 'AIV', 'ALLE', 'AMCR', 'AMT', 'AON', 'APTV', 'ARE', 'AVB',
       'BXP', 'CB', 'CCI', 'CCL', 'DLR', 'DRE', 'EI', 'EQIX', 'EQR',
       'ESS', 'ETN', 'EXR', 'FRT', 'FTI', 'GRMN', 'HST', 'INFO', 'IRM',
       'IVZ', 'JCI', 'KIM', 'LIN', 'LYB', 'MAA', 'MDT', 'MYL', 'NCLH',
       'NLSN', 'O', 'PEAK', 'PLD', 'PNR', 'PRGO', 'PSA', 'RCL', 'RE',
       'REG', 'SBAC', 'SLB', 'SLG', 'SPG', 'STE', 'STX', 'TEL', 'TT',
       'UDR', 'VNO', 'VTR', 'WELL', 'WLTW', 'WY'], dtype=object)

In [247]:
Russell_ticker_list = pd.read_excel("./list_SP500.xlsx", sheet_name="Russell 3000")[".RUA"].str.split('.').str[0].tolist()
SP500_ticker_list = pd.read_excel("./list_SP500.xlsx", sheet_name="S&P500")[".SP500"].str.split('.').str[0].tolist()

In [248]:
not_in_russell = []
in_russell = []
not_in_SP500 = []
in_SP500 = []
for ticker in df.iloc[not_fixed_index].TICKER.unique():
    if ticker not in Russell_ticker_list:
        not_in_russell.append(ticker)
    else:
        in_russell.append(ticker)
    if ticker not in SP500_ticker_list:
        not_in_SP500.append(ticker)
    else:
        in_SP500.append(ticker)

In [249]:
in_SP500

['ACN',
 'AIV',
 'ALLE',
 'AMCR',
 'AMT',
 'AON',
 'APTV',
 'ARE',
 'AVB',
 'BXP',
 'CB',
 'CCI',
 'CCL',
 'DLR',
 'DRE',
 'EQIX',
 'EQR',
 'ESS',
 'ETN',
 'EXR',
 'FRT',
 'FTI',
 'GRMN',
 'HST',
 'INFO',
 'IRM',
 'IVZ',
 'JCI',
 'KIM',
 'LIN',
 'LYB',
 'MAA',
 'MDT',
 'MYL',
 'NCLH',
 'NLSN',
 'O',
 'PEAK',
 'PLD',
 'PNR',
 'PRGO',
 'PSA',
 'RCL',
 'RE',
 'REG',
 'SBAC',
 'SLB',
 'SLG',
 'SPG',
 'STE',
 'STX',
 'TEL',
 'TT',
 'UDR',
 'VNO',
 'VTR',
 'WELL',
 'WLTW',
 'WY']

In [250]:
not_in_russell

['AMCR', 'EI', 'FTI', 'STX', 'TEL']

In [251]:
not_in_SP500

['EI']

In [252]:
df.iloc[not_fixed_index].groupby(["TICKER"]).count().reset_index().sort_values(by=['Available'], ascending=False)

,TICKER,Available,Date,Doc Grp,Info,Prim. Ticker,Second. Ticker,RI,Title,Pages,...,SecondaryTicker,Match_Ticker,GenderAnalyst,year,quarter,PERMNO,gsector,ggroup,industry,quarter_year
22,FTI,363,363,363,363,352,111,340,363,361,...,363,363,349,363,363,0,0,0,0,363
0,ACN,294,294,294,294,292,85,288,294,294,...,294,294,272,294,294,0,0,0,0,294
15,EI,290,290,290,290,287,31,283,290,290,...,290,290,277,290,290,0,0,0,0,290
33,MDT,290,290,290,290,287,40,282,290,290,...,290,290,286,290,290,0,0,0,0,290
47,SLB,249,249,249,249,249,16,246,249,249,...,249,249,230,249,249,0,0,0,0,249
6,APTV,227,227,227,227,211,53,216,227,227,...,227,227,224,227,227,1,1,1,0,227
35,NCLH,222,222,222,222,215,103,185,222,222,...,222,222,221,222,222,0,0,0,0,222
34,MYL,218,218,218,218,214,49,209,218,218,...,218,218,195,218,218,0,0,0,0,218
51,STX,216,216,216,216,216,27,204,216,216,...,216,216,200,216,216,0,0,0,0,216
39,PLD,202,202,202,202,202,32,188,202,202,...,202,202,191,202,202,0,0,0,0,202
49,SPG,198,198,198,198,198,41,180,198,198,...,198,198,197,198,198,0,0,0,0,198
53,TT,196,196,196,196,196,13,191,196,196,...,196,196,187,196,196,0,0,0,0,196
19,ETN,195,195,195,195,195,20,181,195,195,...,195,195,181,195,195,0,0,0,0,195
16,EQIX,192,192,192,192,191,32,178,192,192,...,192,192,191,192,192,0,0,0,0,192
11,CCI,190,190,190,190,85,127,37,190,190,...,190,190,172,190,190,0,0,0,0,190
48,SLG,185,185,185,185,183,19,177,185,185,...,185,185,163,185,185,0,0,0,0,185
10,CB,181,181,181,181,181,15,174,181,181,...,181,181,162,181,181,0,0,0,0,181
41,PRGO,180,180,180,180,180,11,175,180,180,...,180,180,161,180,180,0,0,0,0,180
5,AON,176,176,176,176,176,16,23,176,176,...,176,176,159,176,176,0,0,0,0,176
13,DLR,171,171,171,171,169,44,155,171,171,...,171,171,170,171,171,0,0,0,0,171
8,AVB,168,168,168,168,158,40,146,168,168,...,168,168,160,168,168,0,0,0,0,168
4,AMT,167,167,167,167,149,63,150,167,167,...,167,167,166,167,167,0,0,0,0,167
25,INFO,166,166,166,166,166,12,165,166,166,...,166,166,148,166,166,0,0,0,0,166
27,IVZ,159,159,159,159,159,6,156,159,159,...,159,159,159,159,159,0,0,0,0,159
24,HST,158,158,158,158,157,25,150,158,158,...,158,158,155,158,158,0,0,0,0,158
58,WLTW,156,156,156,156,156,3,156,156,156,...,156,156,145,156,156,0,0,0,0,156
31,LYB,150,150,150,150,150,8,148,150,150,...,150,150,146,150,150,0,0,0,0,150
18,ESS,145,145,145,145,145,4,143,145,145,...,145,145,142,145,145,0,0,0,0,145
43,RCL,141,141,141,141,133,16,138,141,141,...,141,141,140,141,141,0,0,0,0,141
2,ALLE,140,140,140,140,110,53,136,140,140,...,140,140,136,140,140,2,2,2,0,140
1,AIV,133,133,133,133,133,32,111,133,133,...,133,133,130,133,133,0,0,0,0,133
28,JCI,133,133,133,133,133,9,133,133,133,...,133,133,127,133,133,0,0,0,0,133
40,PNR,131,131,131,131,131,4,129,131,131,...,131,131,126,131,131,0,0,0,0,131
52,TEL,131,131,131,131,131,11,130,131,131,...,131,131,124,131,131,0,0,0,0,131
37,O,130,130,130,130,126,26,128,130,130,...,130,130,116,130,130,0,0,0,0,130
29,KIM,129,129,129,129,123,14,127,129,129,...,129,129,116,129,129,0,0,0,0,129
14,DRE,127,127,127,127,125,26,114,127,127,...,127,127,119,127,127,0,0,0,0,127
20,EXR,126,126,126,126,123,44,105,126,126,...,126,126,123,126,126,0,0,0,0,126
17,EQR,126,126,126,126,126,7,121,126,126,...,126,126,123,126,126,0,0,0,0,126
56,VTR,125,125,125,125,124,8,124,125,125,...,125,125,125,125,125,0,0,0,0,125
57,WELL,123,123,123,123,123,2,122,123,123,...,123,123,122,123,123,0,0,0,0,123
38,PEAK,120,120,120,120,118,30,110,120,120,...,120,120,118,120,120,0,0,0,0,120
55,VNO,111,111,111,111,111,11,108,111,111,...,111,111,104,111,111,0,0,0,0,111
12,CCL,110,110,110,110,78,81,25,110,110,...,110,110,92,110,110,0,0,0,0,110
21,FRT,110,110,110,110,110,10,103,110,110,...,110,110,100,110,110,0,0,0,0,110
42,PSA,107,107,107,107,107,8,99,107,107,...,107,107,105,107,107,0,0,0,0,107
45,REG,104,104,104,104,104,5,101,104,104,...,104,104,98,104,104,0,0,0,0,104
9,BXP,100,100,100,100,69,85,6,100,100,...,100,100,77,100,100,0,0,0,0,100
44,RE,96,96,96,96,96,7,92,96,96,...,96,96,71,96,96,0,0,0,0,96
23,GRMN,96,96,96,96,96,2,96,96,96,...,96,96,95,96,96,0,0,0,0,96
59,WY,95,95,95,95,95,5,95,95,95,...,95,95,95,95,95,0,0,0,0,95
46,SBAC,93,93,93,93,93,3,93,93,93,...,93,93,92,93,93,0,0,0,0,93
54,UDR,91,91,91,91,91,2,91,91,91,...,91,91,88,91,91,0,0,0,0,91
26,IRM,87,87,87,87,87,3,83,87,87,...,87,87,85,87,87,0,0,0,0,87
7,ARE,84,84,84,84,83,6,81,84,84,...,84,84,83,84,84,0,0,0,0,84
36,NLSN,82,82,82,82,81,7,82,82,82,...,82,82,77,82,82,0,0,0,0,82
32,MAA,79,79,79,79,79,0,79,79,79,...,79,79,76,79,79,0,0,0,0,79
50,STE,66,66,66,66,66,2,64,66,66,...,66,66,65,66,66,0,0,0,0,66
3,AMCR,46,46,46,46,44,10,45,46,46,...,46,46,45,46,46,0,0,0,0,46
30,LIN,6,6,6,6,2,5,4,6,6,...,6,6,6,6,6,0,0,0,0,6

<h2> Dropping rows with ticker company mismatch <h2>

In [269]:
df = pd.read_csv("metadata_reports_noduplicates_full_industry.csv")

In [270]:
df['industry'] = df['ggroup']
df['quarter_year'] = df["year"].astype("str") + " q" + df["quarter"].astype("str")
df2= df.dropna(subset=['industry']).reset_index(drop=True)
df2['industry-quarter'] = list(zip(df2.industry, df2.quarter_year))
list_industries_quarter = df2.groupby('industry-quarter').count().reset_index()['industry-quarter'].tolist()

In [272]:
temp=df2.groupby(['TICKER','Company Name']).count()['Available'].reset_index()
temp2=temp.groupby(['TICKER']).apply(lambda x: x.sort_values(['Available'], ascending=False))
del temp2['TICKER']
temp2=temp2.reset_index()
temp3=temp2.groupby('TICKER').first().reset_index()

In [273]:
index_no_issue_list = []
for i in range(df2.shape[0]):
    row = df2.iloc[i, :]
    ticker = str(row["TICKER"]).split(".")[0]
    company_name = str(row["Company Name"])
    if company_name == max(temp3[temp3["TICKER"] == ticker]["Company Name"]):
        index_no_issue_list.append(i)

In [274]:
df_no_issue = df2.iloc[index_no_issue_list]

In [275]:
df_no_issue

,Unnamed: 0,Available,Date,Doc Grp,Info,Prim. Ticker,Second. Ticker,RI,Title,Pages,...,Match_Ticker,GenderAnalyst,year,quarter,PERMNO,gsector,ggroup,industry,quarter_year,industry-quarter
0,0,2018-11-02,2018-10-26,Inv.,pdf,AAL.OQ,NaN,"Estimate Increase, TargetPrice Increase","3Q18 Recap: Maintaining Our Rating, Raising Ou...",9.0,...,1,male,2018,4,21020.0,20.0,2030.0,2030.0,2018 q4,"(2030.0, 2018 q4)"
1,1,2018-11-25,2018-10-26,Inv.,pdf,AAL.OQ,NaN,Estimate Increase,Morningstar | Raising Our FVE After American S...,13.0,...,1,male,2018,4,21020.0,20.0,2030.0,2030.0,2018 q4,"(2030.0, 2018 q4)"
2,2,2018-11-25,2018-10-26,Inv.,pdf,AAL.OQ,NaN,"Estimate Revision, TargetPrice Increase",Morningstar | Rising Fuel Costs Raise American...,25.0,...,1,male,2018,4,21020.0,20.0,2030.0,2030.0,2018 q4,"(2030.0, 2018 q4)"
3,3,2018-11-02,2018-10-26,Inv.,pdf,AAL.OQ,NaN,Estimate Increase,3Q18 Recap; Strategic Initiatives Aimed At Dri...,5.0,...,1,male,2018,4,21020.0,20.0,2030.0,2030.0,2018 q4,"(2030.0, 2018 q4)"
4,4,2018-11-02,2018-10-26,Inv.,pdf,AAL.OQ,NaN,"Estimate Revision, Recommendation Decrease, Ta...",American Airlines Group Inc.,9.0,...,1,male,2018,4,21020.0,20.0,2030.0,2030.0,2018 q4,"(2030.0, 2018 q4)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98729,98729,2018-01-29,2018-01-22,Inv.,pdf,"ZIONP.OQ, ZION.OQ",NaN,NaN,Zions Bancorporation - 4Q Core EPS $0.80 - So...,12.0,...,1,male,2018,1,84129.0,40.0,4010.0,4010.0,2018 q1,"(4010.0, 2018 q1)"
98730,98730,2018-01-29,2018-01-22,Inv.,pdf,"ZIONP.OQ, ZION.OQ",NaN,NaN,Solid Fees Offset Slightly Smaller Balance She...,7.0,...,1,NaN,2018,1,84129.0,40.0,4010.0,4010.0,2018 q1,"(4010.0, 2018 q1)"
98731,98731,2018-02-05,2018-01-22,Inv.,pdf,"ZIONP.OQ, ZION.OQ",NaN,NaN,4Q17 - Post Conference Call Model Update,7.0,...,1,male,2018,1,84129.0,40.0,4010.0,4010.0,2018 q1,"(4010.0, 2018 q1)"
98732,98732,2018-01-17,2018-01-10,Inv.,pdf,"ZIONP.OQ, ZION.OQ",NaN,NaN,Zions Bancorporation,9.0,...,1,male,2018,1,84129.0,40.0,4010.0,4010.0,2018 q1,"(4010.0, 2018 q1)"
98733,98733,2018-01-04,2018-01-04,Inv.,pdf,"ZIONP.OQ, ZION.OQ",NaN,NaN,Rating Update for Zions Bancorp,3.0,...,1,Not a person,2018,1,84129.0,40.0,4010.0,4010.0,2018 q1,"(4010.0, 2018 q1)"

In [277]:
df.to_csv("cleaned_metadata_reports_noduplicates_with_industry.csv")

In [84]:
# fixed_list = []
# for i in index_issue_list:
#     row = df2.iloc[i, :]
#     if not row["Prim. Ticker"] is np.nan:
#         primary_tickers = row["Prim. Ticker"].split(",")
#     else:
#         continue
#     found = False
#     for p_ticker in primary_tickers:
#         if p_ticker.split(".")[0] == str(row["TICKER"]):
#             found = True
#             break
#     if found:
#         fixed_list.append(i)